<li class="comment well">
  <div class="title">
    <%= comment.title %>
  </div>
  <div class="meta">
    <%= comment.created_at.strftime("%I:%M%p on %m/%d/%Y") %>
  </div>
  <div class="body">
    <%= comment.body %>
  </div>
  <br />
  <a href="#">Reply</a>
  <% unless comment.comments.empty? %>
  <ul class="comments">
    <%= render partial: 'comments/comment', collection: comment.comments %>
  </ul>
  <% end %>
</li>
