<%= form_for(@post) do |f| %>
  <div class="fml-form">
    <%= f.hidden_field :type, value: 'fml' %>
    <%= f.text_area :content, rows: 4 %>
  </div>
  <div class="actions">
    <%= f.submit "Submit FML", class: "submit-button btn btn-primary btn-large" %>
  </div>
<% end %>
