<% if @post.errors.any? %>
  <div class="error well span8">
    <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@post) do |f| %>

  <div class="post-form span8">
    <%= f.text_area :content, rows: 2 %>
  </div>
  <div class="actions span1">
    <%= f.submit "Submit", class: "submit-button btn btn-primary btn-large" %>
  </div>
<% end %>
