<% if @post.errors.any? %>
  <div class="error well">
    <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">FML</a></li>
    <li><a href="#tab2" data-toggle="tab">Meme</a></li>
    <li><a href="#tab3" data-toggle="tab">GIF</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <%= render 'fml_form' %>
    </div>
    <div class="tab-pane" id="tab2">
      <%= render 'meme_form' %>
    </div>
    <div class="tab-pane" id="tab3">
      <%= render 'gif_form' %>
    </div>
  </div>
</div>

