<%= form_for(@post) do |f| %>
  <div class="gif-form">
    <!-- FIXME -->
  </div>
  <div class="actions">
    <%= f.submit "Submit GIF", class: "submit-button btn btn-primary btn-large" %>
  </div>
<% end %>
