<%= form_for(@post) do |f| %>
  <div class="meme-form">
    <!-- FIXME -->
  </div>
  <div class="actions">
    <%= f.submit "Submit Meme", class: "submit-button btn btn-primary btn-large" %>
  </div>
<% end %>
