<% if notice %>
<div class="notice well span6">
  <%= notice %>
</div>
<% end %>

<div class="form">
  <%= render 'form' %>
</div>

<div class="posts">
  <%= render @posts %>
</div>

<%= will_paginate class: 'pagination center' , page_links: false %>

<script type="text/javascript">
  var disqus_shortname = 'ptonfml';
  <% if Rails.env.development? %>
    var disqus_developer = 1;
  <% end %>

  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function () {
  var s = document.createElement('script'); s.async = true;
  s.type = 'text/javascript';
  s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
  (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
</script>
