<div class="row">
  <div class="sidebar span3">
    <%= render 'layouts/sidebar' %>
  </div>

  <div class="offset3 span9">
    <div class="posts row">
      <%= render @posts %>
    </div>

    <div class="new-comment" style="display: none;">
      <%= render partial: 'comments/form' %>
    </div>

    <%= will_paginate class: 'pagination center', page_links: false %>
    <div class="load-status center"></div>
  </div>
</div>
