<div class="row">
  <div class="sidebar span3">
    <%= render 'layouts/sidebar' %>
  </div>

  <div class="offset3 span9">
    <div class="posts row">
      <p id="notice"><%= notice %></p>
      <%= render @post %>
    </div>

    <div class="new-comment" style="display: none;">
      <%= render partial: 'comments/form' %>
    </div>
  </div>
</div>
