/* Bootstrap customizations */

$gridColumns: 10;

$princeton-orange: #EE7F2D;
$navbarBrandColor: $princeton-orange;
$bodyBackground: $princeton-orange;

@import "bootstrap";
@import "bootstrap-responsive";

/* Mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Universal */

html {
    overflow-y: scroll;
}

body {
    padding-top: 60px;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;
    h1 {
        margin-bottom: 10px;
    }
}

.navbar .brand {
    font-weight: bold;
}

/* Notice */
.notice {
    color: $successText;
    background-color: $successBackground;
}

.error {
    color: $errorText;
    background-color: $errorBackground;
    ul {
        list-style: none;
        margin: 0;
    }
}

/* Typography */

/*
h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 1.7em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: $grayLight;
}

p {
    font-size: 1.1em;
    line-height: 1.7em;
}
*/

/* Footer */

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid $grayMediumLight;
    color: $grayLight;
    a {
        color: $gray;
        &:hover {
            color: $grayDarker;
        }
    }
    small {
        float: left;
    }
    ul {
        float: right;
        list-style: none;
        li {
            float: left;
            margin-left: 10px;
        }
    }
}

/* Forms */

input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    padding: 10px;
    height: auto;
    margin-bottom: 15px;
    @include box-sizing;
}

.post-form {
    /* margin-bottom: 30px; */
}

.form {
    @include clearfix;
    margin-bottom: 20px;
}

.submit-button {
    margin-top: 10px;
}

/* Post */

.post {
    @include clearfix;
    margin-bottom: 20px;
    .content {
        font-size: 1.6em;
        line-height: 1.6em;
        border: 1px solid $grayLight;
    }
    .timestamp a {
        color: $white;
    }
}

.vote {
    margin-top: 5px;
    margin-bottom: 5px;
}

.post .meta a {
    color: $white;
    &:hover {
        color: $white;
    }
}

.timestamp {
    font-size: 0.8em;
}

/* Nested comments */

.comments .comments {
    margin-top: 20px;
}

/* Comments */

ul.comments {
    list-style: none;
    padding-left: 40px;
}

.comment {
    border: 1px solid $grayLight;
    background-color: $white;
    margin-bottom: 10px;
    padding: 5px 10px;
    .body {
        margin: 10px 0;
    }
    .timestamp {
        color: $black;
    }
}

/* Miscellaneous */

.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    @include box_sizing;
}

/* Review */
.approved {
    background-color: $successBackground;
}

.unapproved {
    background-color: $errorBackground;
}

/* Pagination */
.pagination ul {
    @include border_radius(15px);
    background-color: $white;
    a {
        color: $black;
        border: none;
        &:hover {
            @include border_radius(15px);
            background-color: $white;
        }
    }
}
