/* Bootstrap customizations */

$gridColumns: 10;

$princeton-orange: #EE7F2D;
$navbarBrandColor: $princeton-orange;
$bodyBackground: $princeton-orange;

@import "bootstrap";
@import "bootstrap-responsive";

/* Mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Universal */

html {
    overflow-y: scroll;
}

body {
    padding-top: 60px;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;
    h1 {
        margin-bottom: 10px;
    }
}

.navbar .brand {
    font-weight: bold;
}

/* Notice */
.notice {
    color: $successText;
    background-color: $successBackground;
}

.error {
    color: $errorText;
    background-color: $errorBackground;
    ul {
        list-style: none;
        margin: 0;
    }
}

/* Forms */

input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    padding: 10px;
    height: auto;
    margin-bottom: 15px;
    @include box-sizing;
}

.form {
    @include clearfix;
    margin-bottom: 20px;
}

.submit-button {
    margin-top: 10px;
}

/* Post */

.post {
    @include clearfix;
    .content {
        @include box-sizing;
        color: $black;
        background-color: $white;
        margin-bottom: 0;
        font-size: 1.6em;
        line-height: 1.6em;
        border: 1px solid $grayLight;
        a {
            font-weight: bold;
            color: $black;
        }
    }
    .mod {
        color: $princeton-orange;
    }
}

.vote {
    margin-top: 5px;
    margin-bottom: 5px;
}

.meta {
    .timestamp, .post-comment {
        color: $grayDark;
        &:hover {
            color: $grayDark;
        }
    }
}

.timestamp {
    font-size: 0.8em;
}

/* Nested comments */

.comments .comments {
    margin-top: 20px;
}

/* Comments */

ul.comments {
    margin: 20px;
    margin-bottom: 0;
    list-style: none;
    ul {
        margin-left: 0;
    }
}

.comment {
    border-top: 1px solid $grayLight;
    padding: 10px;
    .body {
        margin: 10px 0;
    }
    .timestamp {
        color: $grayLight;
    }
}

/* Miscellaneous */

.mod {
    color: $princeton-orange;
}

.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    @include box_sizing;
}

.load-status {
    color: $white;
}

/* Review */
.approved {
    background-color: $successBackground;
}

.unapproved {
    background-color: $errorBackground;
}

/* Pagination */
.pagination ul {
    @include border_radius(15px);
    background-color: $white;
    a {
        color: $black;
        border: none;
        &:hover {
            @include border_radius(15px);
            background-color: $white;
        }
    }
}
