/* Bootstrap customizations */

$princeton-orange: #EE7F2D;
$navbarBrandColor: $princeton-orange;
$bodyBackground: $princeton-orange;

@import "bootstrap";
@import "bootstrap-responsive";

/* Mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Universal */

html {
    overflow-y: scroll;
}

body {
    padding-top: 60px;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;
    h1 {
        margin-bottom: 10px;
    }
}

.navbar .brand {
    font-weight: bold;
}

/* Notice */

.notice {
    color: $successText;
    background-color: $successBackground;
}

.error {
    color: $errorText;
    background-color: $errorBackground;
    ul {
        list-style: none;
        margin: 0;
    }
}

/* Forms */

input, input[type="file"], textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    padding: 10px;
    height: auto;
    margin-bottom: 15px;
    @include box-sizing;
}

/* Post */

.post {
    @include clearfix;
    .content {
        @include box-sizing;
        color: $black;
        background-color: $white;
        margin-bottom: 0;
        border: 1px solid $grayLight;
        p {
            font-size: 1.6em;
            line-height: 1.6em;
            margin: 0;
        }
        a {
            font-weight: bold;
            color: $black;
        }
    }
    .mod {
        color: $princeton-orange;
    }
}

.vote {
    margin-top: 5px;
    margin-bottom: 5px;
}

.meta {
    .timestamp, .post-comment {
        color: $grayDark;
        &:hover {
            color: $grayDark;
        }
    }
}

.timestamp {
    font-size: 0.8em;
}

/* Comments */

.post .comments {
    margin: 20px;
    .comments {
        margin: 0;
        margin-left: 30px;
    }
}

ul.comments {
    list-style: none;
}

.comment {
    border-top: 1px solid $grayLight;
    padding: 15px;
    .body {
        margin-top: 10px;
        overflow: auto;
    }
    .timestamp {
        margin-left: 3px;
        color: $grayLight;
    }
    .comment-comment {
        font-size: 0.9em;
        color: $gray;
    }
    .close {
        margin-left: 5px;
    }
}

/* Miscellaneous */

.mod {
    color: $princeton-orange;
}

.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    @include box_sizing;
}

.load-status {
    color: $white;
}

/* Review */

.approved {
    background-color: $successBackground;
}

.unapproved {
    background-color: $errorBackground;
}

/* Pagination */

.pagination ul {
    @include border_radius(15px);
    background-color: $white;
    a {
        color: $black;
        border: none;
        &:hover {
            @include border_radius(15px);
            background-color: $white;
        }
    }
}

/* Sidebar */

.sidebar {
    @include box-sizing;
}

// Portrait tablet to landscape and desktop
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
    }
}
