<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "PrincetonFML", root_url, class: "brand", id: "logo" %>
      <ul class="pull-right nav">
        <li>
          <a href="mailto:admin@ptonfml.com?subject=Why I would kick ass as a PFML moderator">Interested in moderating?</a>
        </li>
      </ul>
    </div>
  </div>
</header>
